@use "../abtracts" as *;

.slider-container {
  width: 100%;
  height: 100vh;
  z-index: 1;
  position: relative;
}

.slick-slider {
  min-height: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slick-list {
  overflow: visible !important;
}

.slick-slide {
  position: relative;
  @include d-flex(row, center, center);
  max-height: 100vh;
}

.slide {
  max-width: 600px;
}

.request-bg {
  width: 100%;
  max-width: 100vmin;
  box-shadow: $box-shadow;
}

.letter-container {
  margin: auto;
  position: relative;
  width: 100%;
  max-height: 100vh;
}

.letter-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60%;
  overflow-wrap: break-word;
}

.reply {
  p {
    color: $blue !important;
    font-weight: 600;
  }
}

.letter-btn-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  @include d-flex(row, center, center);
  .material-icons {
    margin-right: 0;
  }
  .btn--reply {
    .material-icons {
      margin-right: 0.3em;
    }
  }
  button {
    margin-right: 1rem;
  }
  button:last-child {
    margin-right: 0;
  }
}

.signature {
  text-transform: uppercase;
  text-align: right;
}
