@use "../abtracts" as *;

.title {
  font-size: 2.5rem;
}

.subtitle {
  margin-bottom: 1.5rem;
  font-weight: 400;
}

.page-header {
  color: white !important;
  font-weight: normal;
  position: absolute;
  top: 0.5em;
  left: 1em;
  font-size: 1.3rem;
}

.material-icons {
  margin-right: 0.5rem;
}

.uppercase {
  text-transform: uppercase;
}

.blue {
  color: $blue;
}
