@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@mixin d-flex($direction, $justify, $align) {
  display: flex !important;
  flex-direction: $direction !important;
  justify-content: $justify !important;
  align-items: $align !important;
}

@mixin container {
  height: 100vh;
  max-width: 1080px;
  margin: auto;
  position: relative;
}

$font: "Comic Neue", cursive;
$border: 2px solid white;
$red: #e77171;
$blue: #374759;

$break-phone: 320px;
$break-tablet: 480px;
$break-tablet-lg: 624px;
$break-laptop: 768px;

$box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, 0.419);
$text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);

.opacity {
  opacity: 0.6;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-0 {
  margin-bottom: 0.1rem !important;
}

.mb-07 {
  margin-bottom: 0.7rem !important;
}

.mr-05 {
  margin-right: 0.5em;
}

.p-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0 !important;
}
