@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@mixin d-flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$font: "Comic Neue", cursive;
$border: 2px solid white;
$red: #e77171;
$blue: #374759;

$break-iphone: 320px;
$break-tablet: 480px;
$break-laptop: 768px;
